
body {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 640px;
}

.title-text {
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
    color: rgb(211, 64, 64);
}

.chassis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(170, 169, 169);
    width: 640px;
    border-radius: 5px;
}

.inbox-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 180px;
}

.symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

.inbox-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 180px;
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 20px;
    color: white;
    font-size: 1.5rem;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100px;
}

.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
    width: 100px;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.graphic {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 80px;
}


